        body{
            font-family: sans-serif;
        }
        #pokemon {
            width: 70%;
            float: left;
            min-height: 300px;
            box-sizing: content-box;
            margin-right: 1%;
        }

        #pokedeck {
            width: 27%;
            box-sizing: border-box;
            border: 10px solid red;
            float: left;
            height: 500px;
            padding: 30px;
        }
        #img{
            width: 30%;
            box-sizing: border-box;
            border: 10px solid red;
            height: 110px;
            margin: 10px auto;
            padding: 0px;
        }