body {
    background-color: black;
    margin: 0px;
}

div.row div {
    width: 20px;
    height: 20px;
    display: inline-block;
}

div.brick {
    background-color: blue;
}

div.empty {

}

div.coin {
    background: url('images/coin.gif');
    background-repeat: no-repeat;
    background-position: center;
}

div#pacman {
    background: url('images/pacman.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
}

div#score {
    border: 1px solid white;
    width: 30px;
    height: 30px;
    color: white;
    padding: 7px;
    text-align: center;
}
