* {
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20px;
    max-width: 800px;
    background-color: lightgrey;
    border: 2px solid black;    
}

img {
    width: 250px;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    margin-bottom: 10px;
}

h1, p {
    text-align: center;
}